
/*body,h1 {font-family: "Raleway", sans-serif}*/
body,h1 {font-family:  'Averia Serif Libre', cursive}
body, html {height: 100%}
.bgimg {
    background-image: url('images/gradient_light_dark_background_51893_1280x960.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.h1-custom {
  color:#000;
  text-align:center;
  line-height:normal;
  padding-bottom:10px;
  display: inline-block;
  overflow: hidden;
}
.bungee-custom{
  font-size: 400%;
  font-feature-settings: &quot;ss02&quot;;
}

.centre-links p{
  color:#4f2000;
  font-family: 'Averia Serif Libre', cursive;
}

@media only screen and (max-width: 600px) {
    .bungee-custom{
        font-size: 250%;
    }
}
